    <h2>Create your accout:</h2>
<form action="/Users/Register" method="post">
	<label>UserName:</label>
	<input type="text" placeholder="UserName" name="username">
	<label>Email:</label>
	<input type="email" placeholder="Email" name="email">
	<label>Password:</label>
	<input type="password" placeholder="Password" name="password">
	<label>Repeat Password:</label>
	<input type="password" placeholder="Repeat Password" name="confirmPassword">
	<input type="submit" class="register" value="Register">
        
</form>