@{
    this.ViewData["Title"] = "SQL Injection";
}

<h1>@this.ViewData["Title"]</h1>

<form asp-action="Search" method="get">
    <input type="text" name="searchText" value="" />
    <input type="submit" value="Search" />
</form>