<div class="bg-success text-white home">
	<h2>Welcome to IRunes</h2>
	<hr class="bg-light" />
	<p class="text-light"><a href="/Users/Login" class="text-warning">Login</a> if you have an account.</p>
	<p class="text-light"><a href="/Users/Register" class="text-warning">Register</a> if you don't.</p>
</div>

<div class="card-deck justify-content-md-start">
	<div class="card col-md-2 bg-mishmash text-white">
		<div class="card-body text-center">
			<p class="card-text">Some text inside the first card</p>
		</div>
	</div>
	<div class="card col-md-2 bg-mishmash text-white">
		<div class="card-body text-center">
			<p class="card-text">Some text inside the second card</p>
		</div>
	</div>
	<div class="card col-md-2 bg-mishmash text-white">
		<div class="card-body text-center">
			<p class="card-text">Some text inside the third card</p>
		</div>
	</div>
	<div class="card col-md-2 bg-mishmash text-white">
		<div class="card-body text-center">
			<p class="card-text">Some text inside the fourth card</p>
		</div>
	</div>
	<div class="card col-md-2 bg-mishmash text-white">
		<div class="card-body text-center">
			<p class="card-text">Some text inside the fourth card</p>
		</div>
	</div>
	<div class="card col-md-2 bg-mishmash text-white">
		<div class="card-body text-center">
			<p class="card-text">Some text inside the fourth card</p>
		</div>
	</div>
</div>