<main class="mt-3">
	<h1 class="text-center">All Orders</h1>
	<hr class="bg-secondary half-width hr-2" />
	<div >
		<table class="table table-bordered table-striped mx-auto w-75">
			<tr>
				<th>#</th>
				<th>Id</th>
				<th>Customer</th>
				<th>Product</th>
				<th>Ordered On</th>
			</tr>
			@for(var i=0; i< Model.Orders.ToList().Count(); i++)
			{
			{var order = Model.Orders.ToList()[i]; }
			{var count = i+1;}
			@if(i%2==0)
			{
			<tr class="chushka-bg-color">
				}
				@else{
			<tr>
				}
				<td>@count</td>
				<td>@order.Id</td>
				<td>@order.Customer</td>
				<td>@order.Product</td>
				<td>@order.OrderedOn</td>
			</tr>
			}
		</table>
	</div>

</main>