<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<nav>
    <div class="left-container">
        <ul>
            <li><a href="">Flights</a></li>
            <li><a href="">My Tickets</a></li>

        </ul>
    </div>
    <div class="right-container">
        <span>Welcome, {name} |</span>
        <a href="" class="log-out">Logout</a>
        <a href=""><img src="static/img/cart.png" alt="" class="cart"></a>
    </div>
</nav>
<main>
    <h3>Your Flights</h3>
    <section class="purchased-ticket">
        <div class="purchased-left">
            <img src="static/img/Venice.jpg" alt="">
        </div>
        <div class="purchased-right">
            <div>
                <h3>CLUJ-NAPOCA</h3><span>15 January</span>
            </div>
            <div>
                from Sheffield <span>14:00</span>
            </div>
            <p>2 x 300$(Economy) </p>
        </div>

    </section>
    <section class="purchased-ticket">
        <div class="purchased-left">
            <img src="static/img/Venice.jpg" alt="">
        </div>
        <div class="purchased-right">
            <div>
                <h3>LONDON</h3><span>18 January</span>
            </div>
            <div>from Cluj-Napoca<span>16:00</span>
            </div>
            <p>2 x 275$(Economy) </p>
        </div>

    </section>
    <footer>SoftUni Airlines</footer>
</main>

</body>
</html>