@import url('https://fonts.googleapis.com/css?family=Oxygen');

body{
    background-color: #927057;
    color: #FFFFFF;
    padding: 20px;

}header{
    text-align: center;
 }
main{
    width: 470px;
    margin: 50px auto 0;
    padding: 50px 60px 70px 60px;
    background-color: #d5c395; position: relative;
}
main:before{
    position: absolute;
    top: -30px;
    left: 259px;
    background: url('img/3.png') no-repeat 0 0;
    display: block;
    height: 35px;
    width: 68px;
    content: "";
}
footer{
    font-size: 1em;
    color: #EFE1C4;
    text-align: center;
}
div.image-container{
    margin: 0 auto;
    margin-top: 50px;
}
img{
    height: 123px;
    border: 5px solid #d5c395;
}
input{
    outline: none;
    border: none;
    background: #efe1c4;
    padding: 10px 10px 10px 60px;
    width: 85%;
    font-size: 1.1em;
    color: #927057;
    border-radius: 5px;
    margin-bottom: 30px;
}
Input[type="submit"]{
    outline: none;
    border: none;
    background-color: #927057;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    color: #d5c395;
    font-size: 1.5em;
    border-radius: 5px;
}
.img-container{
    position: relative;
}
.img-container>img{
    position: absolute;
    left: 12px;
    top: 11px;
    width: 20px;
    height: 20px;
    border: none;
}