<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>CHUSHKA</title>
	<link rel="stylesheet" type="text/css" href="css/reset-css.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container-fluid">
	{{{nav}}}
	<div class="container-fluid">
		<div class="row text-center">
			<div class=" col col-md-3 ml-auto mr-auto text-center">
				<div class="alert alert-danger" style="display: {{{show-error}}}">
					{{{error}}}
				</div>
			</div>
		</div>
		<div style="display: {{{alertDisplay}}}" class="container">
			<br />
			<div class="alert alert-success" role="alert" style="text-align: center">
				{{{alertMessage}}}
			</div>
		</div>
		{{{content}}}
	</div>
	<footer>
		<div class="container-fluid chushka-bg-color">
			<div class="text-white p-2 text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
			</div>
		</div>
	</footer>
</div>
</body>
</html>