<main class="mt-3 mb-5">
	<hr class="hr-2 bg-mishmash"/>
	<div class="channel-main-data-holder w-75 mx-auto d-flex justify-content-between">
		<h3 class="text-center text-mishmash">Channel: SoftUni</h3>
		<h3 class="text-center text-mishmash">Type: Lessons</h3>
		<h3 class="text-center text-mishmash">Followers: 10000</h3>
	</div>
	<hr class="hr-2 bg-mishmash"/>
	<h3 class="text-center text-mishmash">Tags</h3>
	<div class="channel-tags-holder w-75 mx-auto">
		<h6 class="text-center text-mishmash">Learning, IT, Lessons, Soft, SoftUni, Study, School, University, Software</h6>
	</div>
	<hr class="hr-2 bg-mishmash"/>
	<h3 class="text-center text-mishmash">Description</h3>
	<div class="product-description-holder">
		<p class="text-center text-mishmash mt-4">
			Standing at the top of educational centers, SoftUni is the best place at which you can start your career in the IT sector...
		</p>
	</div>
	<hr class="hr-2 bg-mishmash"/>
	<div class="button-holder d-flex justify-content-center">
		<button class="btn bg-mishmash text-white">Back</button>
	</div>
</main>