
main{
    width: 890px;
    border: 1px solid #a5b2b3;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    padding: 0 10px;
    font-family: Calibri Light , Verdana , sans-serif;
}
article{
    width: 200px;
    margin-right: 20px;
}
img{
     width: 200px;
 }
img:hover{
    opacity: 0.4;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}