<main>
	<div class="container">

		<h1 class="text-center">Your Cart</h1>
		<br />
			@for(var i = 0; i < Model.Games.ToList().Count(); i++)
			{
		{ var game = Model.Games.ToList()[i]; }
			<div class="row border p-2 align-items-center h-100 justify-content-center">
				<p class="m-2 justify-content-center"><a class="btn btn-outline-danger" href="#" role="button">X</a></p>
				<img src="@game.Thumbnail" class="img-thumbnail float-left m-2" style="max-width: 100%; height: auto; width: 250px; height: 150px" >
				<div class="row col-5 m-1">
					<h5 class="text-primary">@game.Title</h5>
					<p>@game.Description</p>
				</div>
				<h5 class="col-3">@game.Price &euro;</h5>
			</div>
		}	
	</div>
</main>
