{{> nav}}
<section id="viewFlightDetails">
    <div class="ticket-area">
        <div class="ticket-area-left">
            <img src="http://airportcluj.ro/fisiere/userfiles/Bari_28.03.07_088.jpg" alt="">
        </div>
        <div class="ticket-area-right">
            <h3>CLUJ-NAPOCA</h3>
            <div>from Sheffield</div>
            <div class="data-and-time">
                20 April 14:00
                <a href="#/flight-edit" class="edit-flight-detail"></a>
            </div>
            <div>
                55 Seats (13.12 per seat)
            </div>
        </div>
    </div>
</section>
{{> footer}}