{{> nav}}
<section id="viewMyFlights">
    <h3>Your Flights</h3>
    <div class="flight-ticket">
        <div class="flight-left">
            <img src="http://airportcluj.ro/fisiere/userfiles/Bari_28.03.07_088.jpg" alt="">
        </div>
        <div class="flight-right">
            <div>
                <h3>CLUJ-NAPOCA</h3><span>15 January</span>
            </div>
            <div>
                from Sheffield <span>14:00</span>
            </div>
            <p>55 Seats (13.12$ per seat) </p>
<a href="" class="remove">REMOVE</a>
<a href="" class="details">Details</a>
        </div>

    </div>
    <div class="flight-ticket">
        <div class="flight-left">
            <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_602,c_fill,g_auto,h_339,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170623115234-heathrow---getty.jpg" alt="">
        </div>
        <div class="flight-right">
            <div>
                <h3>LONDON</h3><span>18 January</span>
            </div>
            <div>from Cluj-Napoca <span>16:00</span>
            </div>
            <p>36 Seats (15$ per seat) </p>
<a href="" class="remove">REMOVE</a>
<a href="" class="details">Details</a>
        </div>
    </div>
</section>
{{> footer}}