

<footer class="mt-4">
	<div class="container eventures-bg-color">
		<div class="text-white p-2 text-center text-dark">
			&copy; CopyRight Eventures Inc. 2018-2018. All rights reserved.
		</div>
	</div>
</footer>