<main>
    <div class="container-fluid">
        <hr class="my-3" />
        <div class="row col-md-12 justify-content-center">
            <p><h2 >{{{title}}}</h2></p>
        </div>
        <hr />
    </div>
    <div class="row col-md-12 justify-content-center">        
        <div class="col-6 text-center">

            <iframe width="850" height="500" src="https://www.youtube.com/embed/{{{videoid}}}" frameborder="0"
                    allowfullscreen></iframe>

            <br />
            <br />

        </div>
        <div class="col-6 text-center">

            <h1 class="text-info">{{{author}}};</h1>
            <h2 class="text-info">{{{views}}} Views</h2>
            <br />
            <p>
                {{{description}}}
            </p>


        </div>
    </div>
</main>