<header>
	<nav class="navbar navbar-expand-lg chushka-bg-color">
		<a class="navbar-brand nav-link-white" href="/">CHUSHKA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link nav-link-white" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-white" href="/admin/create">Create Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-white" href="/admin/list">All Orders</a>
				</li>
			</ul>
			<ul class="navbar-nav left-side">
				<li class="nav-item">
					<a class="nav-link nav-link-white" href="/users/logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</header>