body{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
body > * {
    padding: 10px;
    flex: 1 100%;
}
.header{
    background-color: tomato;
}
.footer{
    background-color: lightgreen;
}
.main-article{
    text-align: left;
    background-color: deepskyblue;
}
.aside-1{
    background-color: gold;
}
.aside-2{
    background-color: hotpink;
}

@media screen and (min-width: 800px) {
    .main-article    {  flex: 3 0;  }
    .aside-1 { order: 1; }
    .main-article { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}
@media screen and (min-width: 600px){
    .aside { flex: 1 0; }
}
