html {
    font-size: 18px;
}
@font-face {
    font-family: coffee;
    src: url(font/getcoffee.ttf);
}
body {
    background:url("image/cafe-home.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    margin: 0 auto;
    font-family: "Times New Roman", serif;
}
h1 {
    width: 70%;
    font-family:coffee, serif;
    letter-spacing: 10px;
    text-align: center;
    font-size: 2.5rem;
    color: #737373;
}
h2 {
    font-size: 1.3rem;
    text-align: center;
}
p {
    font-size: 1rem;
    margin-left: 15px;
}
section {
    text-align: justify;
    width: 70%;
    margin: 0 auto;}
aside {
    width: 240px;
    float: left;
    margin-right: 10px;
    font-size: 1rem;
}
aside ol li a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
article {
    width: 53%;
    color: #CCCCCC;
    text-shadow: 1px 1px 1px black;}
article:last-of-type {
    background: rgba(245, 246, 251,0.1);
    padding: 10px;
}
article:last-of-type > p {
    color: #5bc0de;}
article:last-of-type > p:first-line {
    color: #942a25;}