{{> nav}}
<section id="viewRegister">
    <h2>Create your account:</h2>
    <form id="formRegister" method="post" action="#/register">
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username" >
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password">
        <label>Repeat Password:</label>
        <input type="password" name="repeatPass" placeholder="Repeat Password">
        <input type="submit" class="register" value="Register">
    </form>
</section>
{{> footer}}