@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body > header {
    padding-top: 20px;
    background: url("images/Layer-759_02.jpg") no-repeat;
    background-size: cover;
    height: 735px;
}

body > header nav, ul {
    height: 60px;
    list-style: none;
}

body > header nav {
    background: rgba(199, 157, 99, 0.75);
    width: 1100px;
    margin: 0 auto;
}

body > header nav ul.nav-primary {
    background: rgba(199, 157, 99, 0.75);
    display: flex;
    justify-content: center;
}

body > header .nav-item {
    line-height: 60px;
    margin:  0 70px 0 auto;
}

body > header .nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 14px;
}

body > header .home.nav-item {
    margin-left: 30px;
}

body > header .home.nav-item a {
    opacity: 0.7;
}

body > header .consulting-rev {
    width: 500px;
    margin: 0 auto;
}

body > header .consulting-rev h1 {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

body > header .consulting-rev p {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

body > header .consulting-rev a {
    margin: 20px auto;
    display: block;
    width: 120px;
    height: 25px;
    background: #090821;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

body > header .consulting-rev i {
    color: #c79d63;
}

body > header .consulting-rev a:hover,
body > header .consulting-rev a:hover .fa-chevron-right {
    background: #c79d63;
    color: #090821;
    cursor: pointer;
}

main > header h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

main .travel-business-customer,
main .financial-energy-surface {
    text-align: center;
    margin-top: 50px;
}

main .travel-business-customer article,
main .financial-energy-surface article {
    width: 25%;
    display: inline-block;
    margin-left: 18px;
}

main .travel-business-customer .icon,
main .financial-energy-surface .icon {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #090821;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 7px;
}

main .travel-business-customer p,
main .financial-energy-surface p {
    font-size: 16px;
    margin: 10px 0 0;
    text-transform: none;
    color: #000;
}

main .travel-business-customer p,
main .financial-energy-surface p,
main .travel-business-customer h2,
main .financial-energy-surface h2 {
    text-align: left;
}

main .banner h5 {
    text-align: center;
    font-size: 24px;
    width: 520px;
    margin: 0 auto;
}

main .banner span {
    color: #c79d63;
}

main .banner {
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 46px;
    margin-top: 40px;
    display: block;
    position: relative;
}

main .banner::after {
    content: "";
    background-size: cover;
    opacity: 0.3;
    background: url(images/steel-bg.jpg) center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

main .traiders {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 46px;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(images/background-choose-us.jpg) no-repeat center;
    background-size: cover;
}

main .traiders h2 {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}

main .traiders .article-container {
    display: flex;
    justify-content: center;
}

main .traiders .article-container a {
    margin-right: 30px;
    padding: 20px;
    width: 300px;
    border: 2px solid #c79d63;
    text-align: center;
    text-decoration: none;
}

main .traiders .article-container a:hover,
main .traiders .article-container a:hover p,
main .traiders .article-container a:hover h4 {
    background: #ffffff;
    color: #090821;
}

main .traiders .article-container h4 {
    color: #ffffff;
    margin: 0 0 17px 17px;
    padding-top: 21px;
    letter-spacing: 0;
    font-size: 20px;
}

main .traiders .article-container p {
    margin: 0 0 17px 17px;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-align: left;
}

main .consulting-woman {
    background-image: url("images/consulting-woman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin: 0;
    position: relative;
}

main .consulting-woman .testimonial-info {
    position: absolute;
    top: 70px;
    right: 40px;
    width: 500px;
    padding: 64px 60px 53px 60px;
    background: rgba(255, 255, 255, 0.7);
}

main .consulting-woman .testimonial-info > p::before {
    content: open-quote;
    color: #c79d63;
    font-size: 32px;
}

main .consulting-woman .testimonial-info > p::after {
    content: close-quote;
    color: #c79d63;
    font-size: 32px;
}

main .consulting-woman .testimonial-info footer {
    margin-top: 20px;
    text-align: left;
    height: 280px;
    background: rgb(9, 8, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
}

main .consulting-woman .testimonial-info footer h4 {
    font-size: 24px;
}

main .consulting-woman .testimonial-info footer p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #777777;
}

main .partners {
    height: 90px;
    margin-top: 45px;
}

main .partners ul {
    display: flex;
    justify-content: center;
}

main .partners img {
    width: 135px;
    height: 60px;
}

footer {
    background: #090821;
    display: flex;
    justify-content: center;
    height: 300px;
}

footer div {
    margin-right: 70px;
}

footer h2 {
    color: #ffffff;
    margin-left: 20px;
    padding-top: 10px;
}

footer ul.info li {
    color: #ffffff;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}

footer ul.info li i {
    font-size: 16px;
}

footer ul.socials {
    display: flex;
    justify-content: center;
    width: 153px;
}

footer ul.socials li {
    width: 200px;
}

footer ul.socials a {
    display: block;
    width: 32px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background: rgb(131, 131, 143);
    color: #090821;
}

footer .extra-links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 148px;
    width: 200px;
}

footer .extra-links li {
    display: block;
    padding: 5px;
}

footer .extra-links li a {
    color: #c79d63;
    text-decoration: none;
}

footer .instagram-widget ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

footer .instagram-widget img {
    width: 100px;
    height: 100px;
}

footer .instagram-widget img:hover {
    opacity: 0.8;
}






