@Model.Navigation
<hr />
<h2>Register</h2>
<form action="/Users/Register" method="post">
	<div>Username/Email <input type="text" value="" name="username" placeholder="Username..." /></div>
	<div>Password <input type="password" value="" name="password" placeholder="Password..." /></div>
	<div>Confirm Password <input type="password" value="" name="confirmPassword" placeholder="Confirm Password..." /></div>
	<div>Email <input type="email" value="" name="email" placeholder="Email..." /></div>
	<div><input type="submit" value="Register" /></div>
</form>
<hr />
@Model.Footer