*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #CACACA;
    font-family: 'Roboto', sans-serif;
}
nav{
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    background-color: #FFFFFF;
}
ul{
    list-style-type: none;

}
ul li{
    display: inline-block;
    font-size: 15px;
    line-height: 100px;

    padding: 0 8px;
    cursor: pointer;
}
a{
    color: #191923;
    text-decoration: none;
    text-transform: uppercase;
}
.hovered a{
    color: #BF1363;
    margin-left: 22px;
    text-transform: capitalize;
}
li a:hover{
    color: #BF1363;

}
main{

    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}
section{
    width: 240px;
    display: inline-block;
    margin-right: 8px;
    height: 303px;
    vertical-align: top;
}
section:last-child{
    margin-right: 0;
}
img{
    width: 240px;
    height: 180px;
}
img:hover{
    opacity: 0.8;
}
.text{
    margin-top: 3px;
    background-color: #FFFFFF;
    padding: 13px 20px;
    height: 90px;
}
h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
p{
    font-size: 16px;
}