#wrapper{
    width: 550px;
    border-radius: 15px;
    padding: 25px;
    background-color: #fafafa;
    box-shadow: 10px 11px 35px -14px rgba(0,0,0,0.54);
}
h1{
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
}
img{
    float: left;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
    border: 5px dotted #8b603d;
}
p{
    font-size: 14px;
    text-align: justify;
}