@page
@model BorrowModel
@{
	ViewData["Title"] = "Borrow a book";
}

<div class="container">

	<h2>Lend a book</h2>

	<form method="post" asp-route-bookId="@Model.BookId">
		<div>Choose person to lend for:@Model.Title</div>
		<div class="form-group">
			<select asp-for="BorrowerId" asp-items="Model.Borrowers">
				@*@foreach (var b in Model.Borrowers)
				{
					<option value="@b.Id">@b.Name</option>
				}*@
			</select>
		</div>
		<div class="form-group">
			<label asp-for="LendDate">Lend date</label>
			<input type="date" asp-for="LendDate" />
		</div>
		<div class="form-group">
			<label asp-for="ReturnDate">Return date</label>
			<input type="date" asp-for="ReturnDate" />
		</div>

		<input class="btn btn-success" type="submit" value="Lend book" />
	</form>
</div>


