@media screen and (max-width: 500px) {
    .nav-primary{
        flex-direction: column;
        /*width: 100%;*/
        text-align: center;
    }
    .nav-item{
        padding: 0.4em;
    }
    .nav-item > a{
        width: 100%;
    }
    .solo{
        height: 15rem;
        background-size: cover;
    }
    .second-row{
        flex-direction: column;
    }
    .mixr-left,
    .urbeats-right{
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items:  center;
        padding: 2rem 0;
    }
    .studio{
        align-items:  center;
        text-align: center;
    }
    .product-img{
        width: 40%;
    }

}