<nav>
    <a class="active" href="#/home">Home</a>
    {{#if isAuth}}
    <a href="#/list-all">All Listings</a>
    <a href="#/list-my">My Listings</a>
    <a href="#/car-create">Create Listing</a>
    <div id="profile">
        <a>Welcome {{username}}</a>
        <a href="#/logout">logout</a>
    </div>
    {{/if}}
</nav>