@Model.Navigation
<div class="row album-details">
	<section class="col-md-5">
		<img class="img-thumbnail"src="@Model.Cover"/>
		<div class="text-center">
			<h4><strong>Album Name: @Model.Name</strong></h4>
			<h4><strong>Album Price: $@Model.Price</strong></h4>
		</div>
		<div class="row">
			<p class="col-md-2"><a href="/Tracks/Create?id=@Model.AlbumId" class="btn btn-success">Create Track</a></p>
			<p class="offset-md-8 col-md-2"><a href="/Albums/All" class="btn btn-success">Back to All</a></p>
		</div>
	</section>
	<section class="offset-md-2 col-md-5">
		<p><strong>Tracks</strong></p>
		@Model.Tracks
	</section>
</div>
@Model.Footer
