@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a asp-page="/Books/Add" class="btn btn-success">Add new book</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td><a asp-page="/Books/Details" asp-route-id="@(book.BookId)">
                    @book.Title</a></td>
                <td><a asp-page="/Authors/Details" asp-route-id="@(book.AuthorId)">
                    @book.Author
                    </a></td>
                <td>TO DO</td>
            </tr>
        }
    </tbody>

</table>