<nav id="nav">
    <ul>
        <li>
            <a href="#">Editor</a>
        </li>
        <li>
            <a href="#">Overview</a>
        </li>
        <li>
            <a href="#/logout" class="logout">Logout</a>
        </li>
    </ul>
</nav>