<nav>
    <a class="active" href="#/home">Home</a>
    {{#if isAuth}}
    <a href="#/meme-create">Create Meme</a>
    <div id="profile">
        <a>Welcome {{username}}</a>
        <a href="#/profile/{{userId}}">My Profile</a>
        <a href="#/logout">logout</a>
    </div>
{{/if}}
</nav>