@model WebApp.ViewModels.Account.LoginViewModel
@{
	ViewData["Title"] = "Login";
}
<main class="mt-3">
	<h1 class="text-center">Login</h1>
	<hr class="bg-secondary half-width" />
	<form class="mx-auto half-width" method="post" asp-action="Login" asp-controller="Accounts">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="form-group">
			<label asp-for="Username"></label>
			<input asp-for="Username" class="form-control" placeholder="Username..." />
			<span asp-validation-for="Username"></span>
		</div>
		<div class="form-group">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" placeholder="Password..." />
			<span asp-validation-for="Password"></span>
		</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn chushka-bg-color">Login</button>
		</div>
	</form>
</main>

