<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>IRunes</title>
	<link href="../../Resources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../../Resources/css/style.css" rel="stylesheet" />
</head>
<body>
	<main class="container-fluid">
		@RenderNavigation
		@RenderBody
		@RenderFooter
	</main>
	<script src="../../Resources/js/jquery-3.3.1.min.js"></script>
	<script src="../../Resources/js/popper.min.js"></script>
	<script src="../../Resources/js/bootstrap.min.js"></script>
</body>
</html>