@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #567788 0%,#121f25 100%) no-repeat center center;
    font-family:' Open Sans', sans-serif;
    color: #333333;
    font-size: 14px;
}
nav{
    background: #eff4f7;
    margin: 40px;
    position: relative;
    z-index: 5;
    height: 80px;
}
nav > ul > li > a{
    text-decoration: none;
    color: #a4a8a9;
    
}
nav > ul{
    padding: 20px 20px 0 20px;
    float: right;
}
nav>ul>li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    margin-bottom: 23px;
    padding-bottom: 23px;
}
nav>ul>li:hover{
    cursor: pointer;
    border-bottom:3px solid #70e9ff;
}
nav>ul>li>a:hover{
    color: #333;
}
.logo{
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 550px;
    background: #ea3d51;
    width: 90px;
    height: 105px;
    margin: 20px;
    padding: 15px 20px;
}
.brand{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #ffffff;
    margin-top: 72px;
}
header{

}
header>h1{
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size:54px ;
    margin: 0;
    text-transform: uppercase;
}
header>h5{
    position: relative;
    z-index: 3;
    top: -80px;
    left: 80px;
    color: #6dffb8;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
}
.first{
    Background: linear-gradient(to bottom, #eb3c53 0%, #e6135c 100%) no-repeat center center;
    width: 380px;
    padding: 40px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 8;
    position: relative;
    /*font-size: ;*/
}

.first>img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 80px;
    border-radius: 50%;
}
.first>p{
    font-size: 16px;
    font-weight: 800;
    color: #FFFFFF;
}
.text:before{
    Content: ' " ';
    color: #af213d;
    font-size: 30px;
    font-weight: 800;
}
.text:after{
    Content: ' " ';
    color: #af213d;
}
.stars{
    font-size: 25px;
    margin: 10px;
}
.button{
    background: none;
    border:3px solid #70ecff ;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px 25px;
    text-decoration: none;
}
.button:hover{
    background: #70ecff;
    border-color: #70ecff;
    color: #348098;
}

.second{
    position: relative;
    z-index: 4;
    top: -250px;
    background: #FFFFFF;
    margin: 50px;
    padding: 250px 35px 35px 35px;
}
.second>h1{
  color: #46ee97;
    font-size: 42px;
}
.second>p{
    width: 70%;
}
.second>button{
    background: none;
    border: 3px solid #628291;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    padding: 10px 25px;
}
.second>button:hover{
    background:#628291;
    cursor: pointer;
    color: #6dffb8;
}
section{
    margin: 100px;
    background-color: #CCD0D9;
}