@model WebApp.ViewModels.Home.HomeProductListViewModel

<div class="row d-flex justify-content-around  mt-4">
	@foreach (var product in Model.Products)
	{
		<a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="col-md-2">
			<div class="p-1 chushka-bg-color rounded-top rounded-bottom">
				<h5 class="text-center mt-3">@product.Name</h5>
				<hr class="hr-1 bg-white" />
				<p class="text-white text-center">
					@product.Description
				</p>
				<hr class="hr-1 bg-white" />
				<h6 class="text-center text-white mb-3">$@product.Price</h6>
			</div>
		</a>
	}
</div>