@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<h2 class="text-center text-panda">@ViewData["Title"]</h2>
            <form class="mx-auto w-50" method="post">
	            <hr class="bg-panda hr-2"/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="text-panda"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="text-panda"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn bg-panda text-white">Login</button>
                </div>
            </form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
